{% load static %}
<!DOCTYPE html>
<html>
<head>

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.css' %}">

<!-- Scripts -->
    <script src="{% static 'blog/jquery.js' %}"></script>
    <script src="{% static 'blog/bootstrap.js' %}"></script>

	<title>
		{% block title%} replaced {% endblock%}
	</title>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div>
          <ul class="nav navbar-nav navbar-right">
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'create-center' %}">create new instance</a>
            <a class="nav-item nav-link" href="{% url 'viewall-center' %}">vew all instances</a>
            <a class="nav-item nav-link" href="{% url 'userlist-center' %}">see all users</a>
              <a class="nav-item nav-link" href="{% url 'profile-center' %}">profile</a>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
<h1> welcome to dashboard page</h1>
{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}"> {{user}} is {{message}}</div>
		{% endfor %}
	{% endif %}
<h2> log in to go into dashboard</h2>
{% endblock %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.<p>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">amanuels site</li>
            <li class="list-group-item list-group-item-light">how to bring dramatic change</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>



    <script type="text/javascript">
    /*
      $('.ajaxContent').append('<table class="table">    <thead><th>Game</th><th>Ticket Code</th><th>Full Name</th><th>Phone Number</th><th>Paid Amount</th><!-- <th>Home/Away Status</th><th>Payment Date</th> --><th></th></thead>{% for object in objects %}<tr><td>{{object.game}}</td><td>{{object.ticketCode}}</td><td>{{object.fullName}}</td><td>{{object.phoneNumber}}</td><td>{{object.paidAmount}}</td><!-- <td>{{object.homeOrAwayStatus}}</td><td>{{object.date|date:'F d, Y'}}</td> --><td><a href="{% url 'payment-records-detail' object.pk %}" style="color: green">Detail</a></td></tr>{% endfor %}</table>')
      */
    </script>


</body>
</html>